.App {
  text-align: center;
}

p {
  width: 100%;
  max-width: 400px;
}

label {
  margin-right: 10px;
}

input[type='submit'],
button {
  font-size: 18px;
  cursor: pointer;
}

.MuiFormControl-root {
  width: 100%;
}
.MuiMenuItem-root {
  min-width: 200px;
}
p.error {
  color: #f44336;
}

a {
  font-size: 12px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.linkCopyHelp {
  font-size: 16px;
}

.linkCopyHelp a {
  font-size: 18px;
}
